/*.video-js .vjs-current-time,*/
/*.vjs-no-flex .vjs-current-time {*/
  /*display: block;*/
/*}*/

/*.video-js .vjs-time-control {*/
  /*display: block;*/
/*}*/

body {
  background: #222;
  color: #fff;
}

.App {
  width: 100%;
}

.OnlineCount {
  margin: 20px;
  padding: 10px 16px;
  background: #363636;
  display: inline-block;
  border-radius: 5px;
}

.FilmSelect {
  display: inline-block;
  padding: 10px;
  background: #363636;
  color: #fff;
  border-radius: 5px;
}

.FilmSelect-select {
  border: 0;
  background: rgba(255,255,255,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #fff;
  outline: none;
}


.FilmSelect-select option {
  background: rgba(255,255,255,0.1);
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 10px;
  color: #000;
  outline: none;
}

.FilmSelect button {
  border: 0;
  background: rgba(255,255,255,0.1);
  color: #fff;
  outline: none;
  padding: 5px 10px;
  cursor: pointer;
}