/*.video-js .vjs-current-time,*/
/*.vjs-no-flex .vjs-current-time {*/
  /*display: block;*/
/*}*/

/*.video-js .vjs-time-control {*/
  /*display: block;*/
/*}*/

body {
  background: #222;
  color: #fff;
}

.App {
  width: 100%;
}

.OnlineCount {
  margin: 20px;
  padding: 10px 16px;
  background: #363636;
  display: inline-block;
  border-radius: 5px;
}

.FilmSelect {
  display: inline-block;
  padding: 10px;
  border: 0;
  background: #363636;
  color: #fff;
  border-radius: 5px;
  outline: none;
}